/* Reset de estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    background-color: #556672;

}


.body-login {
    background-image: url("https://th.bing.com/th/id/R.08d6ee17dae66c345bfdb608b620cbc3?rik=VVUaB0%2bfOKuCqw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fhUukl3e.jpg&ehk=YRfjpqCrlgojYQAWsoPUNyNdFEJa3UQ8E%2bHlxvv9%2b6E%3d&risl=&pid=ImgRaw&r=0");
    background-color: #bccedc;
    background-size: cover;
    background-position: center;
  
}

#tema {
    text-align: right;
    position: right;
    padding: 10px; 
    margin-top: 10px;
    margin-left: 50%;
    width: 100px;
    height: 40px;
    box-sizing: border-box;
    background-color: #171a4a; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    z-index: 1000;
}

#tema:hover {
    background-color: #171a4a;
    color: #cbee77;
    box-shadow:  
      0 0 5px  #556672,
      0 0 25px  #71828f,
      0 0 50px  #8ea0ad,
      0 0 150px  #adbecc;
}

h1 {
    text-align: center;
    color: rgb(39, 38, 38);
    padding: 10px;
    border-radius: 20px;
    margin-top: -50px;
    word-wrap: break-word;
}

h2 {
    margin-top: -30px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    color: #ecf1f5;
    background-color: rgba(5, 9, 26, 0.8);
    padding: 10px;
    margin-inline: 56px;
    text-shadow: 2px 3px 5px #96a5b0;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4b5258;
    text-shadow: 0 2px 4px #96a5b0;
    margin: 10px;
    margin-left: 12%;
    margin-top: 100px;   
    margin-bottom: -100px;
    font-size: 38px;
}

h4 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(13, 13, 13, 0.843);
    padding: 10px;
    margin-left: 20%;
    border-radius: 20px;
    font-size: 38px;
    margin-top: 40px;
}

#intro-msg {
    color: #556672;
    padding: 10px 10px;
    background-color: #f2f5f8;
    border-left: solid 5px #b0c43f;
    word-wrap: break-word;
    font-size: 20px;
    margin-top: 155px;
    margin-left: 12%;
    max-width: 600px;
}


#destaque-msg {
    margin-top: 180px;
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(23, 26, 74, 0.9);
    padding: 10px;
    margin-inline: 556px;
    text-shadow: 2px 3px 5px #96a5b0;

}

.btn-cadastrar-home {
    text-align: center;
    position: relative;
    margin-left: 12%;
    margin-right: 80%;
    padding: 10px; 
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #171a4a; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.btn-cadastrar-home:hover {
    background-color: #171a4a;
    color: #cbee77;
}


.controle-img {
    display: flex;
    margin-left: 50%;
    margin-top: -300px;
    height: 580px;
    width: 640px;
    opacity: 0.9;
 
    max-width: 700px;
}

.nav {
    position: relative;
    text-align: center;
    background-color: rgba(5, 9, 26, 0.9);
    color: white;
    justify-content: space-between;
    z-index: 1000;
}

.nav-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(5, 9, 26, 0.8);
    text-shadow: 0 2px 4px #4b5258;
    box-shadow: 0 2px 16px #26292c;
}

.nav ul li {
    display: inline-block;
    margin-left: 30px;
    margin-block: 15px;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    padding-block: 16px;
}

.nav ul li a:hover {
    color: #171f8d;
    text-decoration: none;
    font-weight: bolder;
}

.login-menu ul{
    margin: 20px 80px 0 0;
    text-align:right;    
        
}

.login-menu li{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 15px;
    border-radius: 6px;
        
}

.login-menu a{
    background-color: rgba(13, 25, 129, 0.3); 
    padding: 10px;
    display: block; 
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px; 
    
}

.login-menu a:hover{
    background-color: rgba(0,0,0,0.5); 
}

.menu-icon {
    display: none;
}

.home-img {
    max-width: 400px;
    display: flex;
    align-items: flex-end;
    top: 2px;
    left: 0; /* Fixa a imagem na borda esquerda */
    margin-left: 30px;
    margin-top: -20px;
    z-index: 100; /* Garante que a imagem fique acima de outros elementos */
    width: 220px; /* Largura da imagem */
    height: 160px; /* Altura da imagem */
    padding: 0;
}

.login-img {
    display: center;
    align-items: flex-end;
    top: 2px; 
    z-index: 100; /* Garante que a imagem fique acima de outros elementos */
    width: 250px; /* Largura da imagem */
    height: 160px; /* Altura da imagem */
    margin-top: -80px;
}

.logo-img {
    display: flex;
    align-items: flex-end;
    top: 2px; 
    left: 0; /* Fixa a imagem na borda esquerda */
    z-index: 100; /* Garante que a imagem fique acima de outros elementos */
    width: 250px; /* Largura da imagem */
    height: 160px; /* Altura da imagem */
}

.banner {
    background-image: url("imagens/imagens_curso/586e51559dc40f48cd8ce65af9c1522f.gif");
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255, 0.8);
    font-size: 24px;
    background-color: #556672;
    background-size: cover;
    background-position:bottom;
}


.form-login {
    width: 100%;
    max-width: 600px;
    margin: auto;
    background-color: rgba(5, 9, 26, 0.8);
    box-shadow: 0 2px 16px #717c84;
    color: rgb(231, 226, 226);
    text-align: center;
    padding-inline: 16px;
    padding: 50px;
    box-sizing: border-box;
    margin-block: 150px;
    border-radius: 15px;
}

.form-login input{
    display: block; /* Mostra os elementos em blocos separados */
    margin-bottom: 10px; /* Espaçamento entre os elementos */
    margin-top: 20px;
    padding: 20px; /* Espaçamento interno dos elementos */
    width: 100%; /* Largura total dos elementos */
    box-sizing: border-box; /* Mantém a largura total incluindo padding e borda */
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    border-color: rgb(255, 255, 255, 0.2);
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.914);
    color: rgb(0, 0, 0);
    transition: all ease-in-out 0.2s;
}

.form-login input:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-color: rgb(255, 255, 255, 0.5);
    color: white;
}

.form-login button {
    cursor: pointer;
    background-color: #a2be5f;
    color: white;
    margin-bottom: 10px; /* Espaçamento entre os elementos */
    padding: 10px; /* Espaçamento interno dos elementos */
    width: 100%; /* Largura total dos elementos */
    box-sizing: border-box; /* Mantém a largura total incluindo padding e borda */
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border-color: #cbee77;
    transition: all ease-in-out 0.2s;
}

.form-login button:hover {
    cursor: pointer;
    background-color: #cbee77;
    color: rgb(0, 0, 0);
    border-color: #8fee77;
}

.form-login legend {
    text-align: center;
    color: rgba(233, 231, 235, 0.9);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    padding-bottom: 50px;
    font-size: 23px;
}

.form-login a {
    color: rgb(255, 255, 255);
}

.form-login a:hover {
    color: rgb(44, 6, 100);
}


/*estilos para destaques card */
.container-destaque-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-wrap: break-word;
}

.container-destaque {
    flex: 0 1 calc(33.333% - 10px); /* Divide em 3 colunas com espaço entre elas */
    padding: 20px;
    background-color: rgb(23, 26, 74, 0.9) ;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    position: relative;
    color: white;
    text-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-inline: 5px;
    max-width: 600px;
    opacity: 0.9;
   
}
.container-destaque p{
    color: #ffffff;
    font-size: 20px;
    text-shadow: 2px 2px 2px rgba(107, 106, 106, 0.3);
    border-bottom: 20px;

}

cite{
    color: #6096e5;
    padding-top: 10px;
}

.container-destaque:hover {
    background-color: #2f2c79;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
    background-size:cover;
    background-position: center;
    flex: 0 1 calc(33.333% - 10px); /* Divide em 3 colunas com espaço entre elas */
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    transform: scale(1.1);
  }

.container-destaque p {
    text-align: center;
    padding: 10px;
}

.container-destaque img {
    max-width: 400px;

}

.container-destaque cite{
    padding: 25px;
}

.bquote{
    border-bottom: 50px;
    padding: 15px;
    
}

.bquote p{
    font-size: 12px;
}

/*Estilos página comunidade*/

.container-pesquisa {
    padding: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    margin: 80px auto;
    max-width: 600px;
    opacity: 0.9;
}

.container-pesquisa input,
.container-pesquisa textarea,
.container-pesquisa select {
    padding: 8px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}

.container-pesquisa input:hover,
.container-pesquisa textarea:hover,
.container-pesquisa select:hover {
    padding: 8px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #e3e5e8d2;
}

.container-pesquisa button {
    padding: 8px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background-color: #a3b7eb;
    border-radius: 10px;
    margin-bottom: 20px;
}

.container-pesquisa button:hover {
    background-color: #6096e5;
}

.container-pesquisa label {
    display: block;
    margin-bottom: 5px;
    padding-top: 10px;
}

.comunidade-img {
    max-width: 600px;
    display: flex;
    align-items: flex-end;
    margin-left: 50%;
    margin-top: -50px;
    width: 740px; /* Largura da imagem */
    height: 460px; /* Altura da imagem */
    padding: 0;
}

#pesquisa-msg {
    color: #556672;
    padding: 10px 10px;
    background-color: #f2f5f8;
    border-left: solid 5px #556672;
    margin-bottom: 0;
    font-size: 20px;
    margin-left: 20%;
    word-wrap: break-word;
    max-width: 600px;

}


/*Estilos botão WhatsApp*/

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 999;
}
  
.whatsapp-btn img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}
  
.whatsapp-btn img:hover {
    transform: scale(1.1);
}
 
.tooltip {
    visibility: visible;
    width: 120px;
    background-color: #4b52589d;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -55px;
    opacity: 1;
    transition: opacity 0.3s;
}

.whatsapp-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
    background-color: #4b5258;
}

.close-icon,
.menu-icon {
    display: none;
}


.nav ul.active {
    display: block;
}


/* Estilos para telas menores */
@media screen and (max-width: 768px) {

    h3 {
        margin-bottom: 2px;
    }

    .menu-icon {
        font-size: 24px;
        cursor: pointer;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        color: #000000;
        text-shadow: 0 2px 4px black;
        font-size: 24px;
        cursor: pointer;
        z-index: 1002; /* Ajusta a ordem de sobreposição */
    }

    .close-icon {
        font-size: 24px;
        cursor: pointer;
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        color: #ffffff;
        font-size: 24px;
        cursor: pointer;
        z-index: 1002; /* Ajusta a ordem de sobreposição */
    }
    
    .logo-img {
        margin-left: 2px;
        margin-top: 20px;
        width: 350px;
        height: 250px;
        max-width: 300px;
    }

    /* Oculta o menu por padrão */
    .nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(5, 9, 26, 0.9);
        padding: 10px 0;
        z-index: 1000;
    }

    .nav ul.active {
        display: block;
    }

    /* Exibe o menu ao clicar no ícone */
    .menu-icon.active + ul {
        display: block;
    }

    /* Estilos adicionais para o menu */
    .nav ul li {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }

    .nav ul li a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 10px;
        display: block;
    }

    /* Ajusta o banner */
    .banner {
        margin-top: 0px;
        font-size: 15px;
    }

    /* Ajusta o tamanho da imagem do controle */
    .controle-img {
        display: none;
    }

    /* Ajusta o tamanho da imagem do logo */
    .home-img {
        margin-left: 20px;
        width: 150px;
    }

    .comunidade-img {
        margin-left: 2px;
        margin-top: 20px;
        width: 80%;
        height: 70%;
        max-width: 400px;
    }

    /* Ajusta o tamanho do texto de introdução */
    #intro-msg {
        padding: 10px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .form-login {
        max-width: 400px;
        margin-block: 20%;
    }

        /* Ajustes para o botão */
    .btn-cadastrar-home {
        margin: 10px auto; /* Centraliza o botão na tela */
        width: 80%; /* Define a largura do botão */
        max-width: 300px; /* Define a largura máxima do botão */
    }
    
        /* Ajustes para a mensagem de destaque */
    #destaque-msg {
        margin-inline: auto; /* Centraliza o texto */
        font-size: 20px; /* Reduz o tamanho do texto */
    }

    /* Ajusta a posição do botão do WhatsApp */
    .whatsapp-btn {
        bottom: 70px;
        left: 20px;
    }

    .tooltip {
        margin-left: -45px;
        width: 100px;
        padding: 1px 0;
    }

        /* Ajustes para centralizar o conteúdo */
    .container-destaque {
        flex: 0 1 100%; /* Ocupa a largura total da tela em telas menores */
        margin: auto; /* Centraliza o conteúdo */
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: 5px;
        max-width: 600px;
        transition: none;
        transform: none;
        width: 100%;
    }
       /* Remove completamente o efeito hover */
    .container-destaque:hover {
        flex: 0 1 100%; /* Ocupa a largura total da tela em telas menores */
        margin: auto; /* Centraliza o conteúdo */
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: 5px;
        max-width: 400px;
        transition: none;
        transform: none;
    }

    .container-destaque img{
        max-width: 200px;
    }
    
        /* Ajustes para centralizar o rodapé */
    footer {
        text-align: center;
    }

    .container-pesquisa {
        flex: 0 1 100%;
        margin: auto; /* Centraliza o conteúdo */
        margin-top: 10px;
        margin-bottom: 10px;
        margin-inline: 5px;
        margin-left: 0;
        max-width: 100%;
     
    }

    .container-pesquisa button {
        margin-bottom: 0;
        font-size: 15px;
        width: 71%;
    }

    .container-pesquisa input,
    .container-pesquisa textarea,
    .container-pesquisa select {
        font-size: 15px;
        width: 71%;
    }

    .container-pesquisa input:hover,
    .container-pesquisa textarea:hover,
    .container-pesquisa select:hover {
        font-size: 15px;
        width: 71%; 
    }

    #pesquisa-msg {
        margin-left: 15px;
    }

    h4 {
        margin-left: 5px;
    }

    h1 {
        margin-top: 0;
    }
}


footer,
footer p {
    background-color: #556672;
    color: #b5b2b2;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

/*forum*/

